/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-700 - latin */
 @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0 auto;
}

body{
    font-family: 'Raleway';
    font-size: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    

}

/* _______  Header _______*/

.wrapper{
    max-width: 1170px;
}

.wrapper__nav{
    max-width: 1510px;
}

.header{
    max-width: 100%;
    background-color: black;
}

.header__logo{
    margin-left: 115px;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 76px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 100px;
}

.header__item:last-child{
    margin-right: 10px;
}

.header__link{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    text-decoration: none;
}



/* _______  Section intro _______*/
.intro{
    height: 1026px;
    background: url(../img/banner.png) no-repeat center;
    background-size: cover;
    padding-top: 283px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intro__logo{
    margin-bottom: 51px;
}

.intro__title{
    max-width: 670px;
    font-weight: 500px;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 55px;

    /* border-bottom: 1px solid #FFFFFF; */
}

.intro__subtitle{
    max-width: 270px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 42px 0 42px 0;
}

.line{
    margin: 0;
}

.btn{
    width: 270px;
    height: 58px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
    
    font-weight: 100px;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.wrapper__form{
    max-width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
}

.text__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 33px;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 45px;
    padding: 30px 0 30px 0;
    color: #333333;
}

input[type=text], input[type=password]{
    width: 370px;
    height: 38px;
    margin: 0 50px 33px 50px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

input[type=password]{
    margin-bottom: 73px;
}

::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #BDBDBD;
  }

.reg__btn{
    width: 100%;
    height: 60px;
    background-color: #EC7979;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
    border-radius:0 0 10px 10px;
}
.reg__btn:hover {
    opacity: 1;
}

/* .reg__btn::before{

} */


/* _______  Section Social Media _______*/

.social{
   /*  max-width: 100%; */
    height: 140px;
    background-color: #F8EFEF;
} 

.social__title-main{
    max-width: 470px;
    /* height: 60px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 33px;
    color: #333333;

    margin: 14px 0 40px 0;
}

.social__subtitle{
    max-width: 470px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;

    margin-top: 18px;
    margin-bottom: 0;
}

.social__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    list-style: none;
    padding: 0;
}
.social__item{
    margin-right: 30px;
    align-items: center;
}
.social__item:last-child{
    margin-right: 0;
}


/* _______  Section Tabs _______*/
.wrapper__tabs{
    max-width: 1170px;
    height: 540px;
    margin-top: 99px;
    margin-bottom: 50px;
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.tab{
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 0;    
}

.tab:first-child{
    border: 1px solid #C6CBCD;
    border-bottom: none;
}

.tab:nth-child(2),.tab:nth-child(3) {
    border-bottom: 1px solid #C6CBCD;
}

.tab:last-child{
    width: 570px;
    border-bottom: 1px solid #C6CBCD;
}

.tab__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;

    color: #333333;
}

#content__tab{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
}

.title__tab{
    max-width: 570px;
    height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 124px;
    margin: 0 0 27px 0;
    color: #000000;
}

.subtitle__tab{
    max-width: 570px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #000000;
}

.down__btn{
    width: 250px;
    height: 58px;
    background-color: #EC7979;
    font-weight: 600px;
    font-size: 15px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
    margin-top: 27px;
}
.down__btn:hover {
    opacity: 1;
}

.content__img-tab{
    max-width: 470px;
    height: 500px;

    margin: 0;
}













/*

.tabs{
    max-width: 1170px;
    height: 540px;
    margin-top: 99px;
    margin-bottom: 50px;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
}

#tab__btn-1:checked~#content__tab-1, 
#tab__btn-2:checked~#content__tab-2, 
#tab__btn-3:checked~#content__tab-3{
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}


#content__tab{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title__tab{
    max-width: 570px;
    height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 41px;
    margin: 0 0 27px 0;
    color: #000000;
}

.subtitle__tab{
    max-width: 570px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #000000;
}

.down__btn{
    width: 250px;
    height: 58px;
    background-color: #EC7979;
    font-weight: 600px;
    font-size: 15px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
    margin-top: 27px;
}
.down__btn:hover {
    opacity: 1;
}

/* .down__btn::before{

} */









/* _______  Section WHY THIS IS AWESOME _______*/

.design__wrapper{
    max-width: 1170px;
    height: 665px;
}

.design__title{
    height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.design__subtitle{
    text-align: center;
    margin-top: 40px;
    color: #86878B;
}

.design__logo{
    margin-top: 50px;
}

.design__items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    /* margin-top: 70px 0 58px 0; */
}

.design__item{
    max-width: 370px;
    margin-right: 40px;
}

.design__item:last-child{
    margin-right: 0;
}

.design__item-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    
    margin-top: 34px;
    margin-bottom: 34px;

    text-transform: capitalize;
    color: #000000;
}

.design__item-subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
}

/* _______  Section Pricing options _______*/

.pricing{
    background-color: #F5F5F5;
}



/* _______  Section what our customers are saying _______*/

/* _______ STYLISH AXURE DESIGN _______ */

.baner {
    background-image: url(../img/banner_parallax.png);
    min-height: 400px;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baner__title{
    height: 150px;
    margin-top: 50px;
    line-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.baner__subtitle{
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.baner__btn{
    width: 370px;
    height: 50px;
    margin-top: 73px;
    
    transition-duration: 0.4s;


    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent    ;
    color: #FFFFFF;
}

.baner__btn:hover {
    background-color: white;
    color: black;
}






/* _______ Contacts _______ */
.contact__wrapper{
    max-width: 1170px;
    height: 622px;
    text-align: center;
}

.contact__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.contact__container{
    max-width: 571px;
    height: 215px;
}

input[type=contact__text], input[type=contact__password]{
    width: 571px;
    height: 38px;
    margin-bottom: 50px;
    margin-right: 30px;

    border: none;
    border-bottom: 1px solid #BDBDBD;
}


.contact__mes{
    margin: 0;
}

.message{
    width: 569px;
    height: 214px;
    resize: none; 
    border: none;

    border-bottom: 1px solid #BDBDBD;
}

.contact__btn{
    width: 370px;
    height: 58px;

    margin-top: 50px;
    margin-bottom: 35px;

    background-color: #EC7979;
    font-weight: 600px;
    font-size: 15px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
    text-transform: capitalize;
}
.contact__btn:hover {
    opacity: 1;
}




/* ________ footer _________ */

.footer{
    background-color: #000000;
    
}
.footer__wrapper{
    max-width: 1170px;
    height: 164px;
    
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.footer__item{
    margin-right: 30px;
    margin-left: 0;
    text-decoration: none;
    list-style: none;
    margin-top: 35px;
    margin-bottom: 30px;
}
 .footer__item:last-child{
    margin-right: 0;
} 

.made__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);
}
