@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background: #E8E8E8;
}

.form{
    display: flex;
    justify-content: space-between;
}


.private, 
.forgot,
.content__registr{
    width: 600px;
    border-radius: 20px;
    background: white;
    margin: 20px 20px 50px 20px;
    text-align: center;
}
.private{
    height: 717px;
}
.forgot{
    height: 442px;
}
.content__registr{
    height: 1020px;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
    margin-bottom: 40px;
}

.subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

input[type=tel],
input[type=text],
input[type=email],
input[type=password]{
    width: 385px;
    height: 50px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding-left: 32px;
    border-radius: 83px;
}

input[type=password]{
    margin: 24px 0 29px 0;
    background: url('https://img.icons8.com/material/24/000000/user-credentials.png') no-repeat;
    background-position: 340px;
}

input[type=checkbox]{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

input[type=checkbox]{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

.private,
.forgot,
.registr{
    padding: 129px 119px 0 107px;
}

.checkbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

.login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}

.login__btn{
    width: 152px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 24px;
    color: #FFFFFF;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 49px;
}

hr{
    width: 385px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #BDBDBD;
}

.rgstr__btn{
    width: 217px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #BDBDBD;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #BDBDBD;
    border-radius: 49px;

    margin-top: 16px;
}

.forgot input[type=email]{
    margin-bottom: 0;
}

.forgot .subtitle{
    font-size: 14px;
    line-height: 15px;
}

.send__btn{
    width: 195px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    text-transform: uppercase;
    border-radius: 49px;
    margin-top: 40px;
    margin-bottom: 66px;
}

/* _________CLOSE - fignya kakayato____________ */
.close__forgot,
.close__private,
.close__registr{
    position: absolute;
    width: 60px;
	height: 60px;
	cursor: pointer;
}

.close__private{
    top: 80px;
    left: 500px;
}
.close__forgot{
    bottom: 1px;
    left: 500px;
}

.close__registr{
    top: 80px;
    left: 1150px;
}

.close__private::before,
.close__private::after,
.close__forgot::before,
.close__forgot::after,
.close__registr::before,
.close__registr::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #976464;
}

.close__private::before,
.close__forgot::before,
.close__registr::before {
	transform: rotate(45deg);
    background: #976464;
}

.close__private::after,
.close__forgot::after,
.close__registr::after {
	transform: rotate(-45deg);
}
/* _____________________ */

.content__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registr input[type=password]{
    margin-top: 0;
}

#psw__repeat{
    margin-bottom: 0;
}

.register__btn{
    width: 295px;
    height: 50px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 49px;
}

.register__btn-login{
    width: 152px;
    height: 50px;
    color: #BDBDBD;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #BDBDBD;
    border-radius: 49px;
    margin-left: 24px;
}



/* ________________ */
.content__customer1,
.content__customer2,
.content__customer3
{
    width: 400px; 
    height: 336px; 
    background: #fffcfc;
    padding-top: 20px;
}

.coment {
    width: 370px; 
    height: 180px; 
    margin-left: 26px;
    background: hsl(0, 0%, 89%);
    position: relative;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 38px 20px 37px 20px;
    text-align: center;
    color: #86878B;
}
.rect {
    width: 0; 
    height: 0;
    margin-left: 80px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid hsl(0, 0%, 89%);
}
.reviews__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 370px;
    margin-right: 30px;
    margin-left: 20px;
}

.reviews__img{
    margin: 0 20px 0 0;
    padding: 10px;
}
.reviews__title{
    margin: 0;
}

.reviews__title h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.reviews__title h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.wrapper {
	height: 500px;
	margin: 100px auto 0;
	position: relative;
	width: 700px;
}

.slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}


.wrapper > input {
	display: none;
}

.wrapperб
.controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#content__customer1:checked ~ .controls label:nth-of-type(1),
#content__customer2:checked ~ .controls label:nth-of-type(2),
#content__customere3:checked ~ .controls label:nth-of-type(3) {
	background: #ddd;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);

	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#content__customer1:checked ~ .slider > .content__customer1,
#content__customer2:checked ~ .slider > .content__customer2,
#content__customer3:checked ~ .slider > .content__customer3 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/* 
.price {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1170px;
    margin-top: 50px;
}

.price__block {
    list-style-type: none;
}

.price__block li {
    width: 370px;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    color: #86878B;
    margin-top: 1px;
    padding: 0;
    background-color: #FFFFFF;
}

.price__block ul li:first-child {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.price__block ul li:nth-child(2) {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

ul li:nth-child(-n+3) {
    background-color: #333333;
    color: #FFFFFF;
}
 */